@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap');

.hidden { 
  display: none;
}

body {
  height: 100vh;
  background-color: #304F6D;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  font-family: 'Roboto Mono', monospace;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  /* filter: brightness(0.5); */
}

/* #changeColor {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #FFE1A0;
  border: 3px solid black;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  width: 100px;
  outline: none;
  font-family: 'Roboto Mono', monospace;
} */

#main-container {
  width: 65%;
  height: 650px;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clock {
  background-color: #FFE1A0;
  border: 3px solid black;
  border-radius: 30px;
  text-align: center;
  width: 700px;
  padding: 5px 10px;
}

#time {
  font-size: 80px;
}

#currentDate {
  font-size: 30px;
}

#login-form input{
  border: 3px solid black;
  border-radius: 30px;
  margin: 20px 0;
  padding: 15px 50px;
  width: 180px;
  font-size: 20px;
  outline: none;
}

#greeting {
  background-color: #FFE1A0;
  border: 3px solid black;
  border-radius: 30px;
  padding: 20px 50px;
  text-align: center;
  font-weight: 500;
}

#main-content {
  /* border: 1px solid white; */
  height: 350px;
  display: flex;
  justify-content: center;
  width: 90%;
}

.left-side {
  /* border: 2px solid red; */
  height: 350px;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.weather {
  background-color: #FFE1A0;
  border: 3px solid black;
  border-radius: 30px;
  width: 82%;
  height: 100px;
  padding: 20px;
  margin-bottom: 14px;
  text-align: center;
}
.weather h1{
  font-weight: 300;
  margin-top: 0;
}




#quotes {
  background-color: #FFE1A0;
  border: 3px solid black;
  border-radius: 30px;
  width: 82%;
  padding: 20px;
}
.quote {
  padding: 10px;
}
.author {
  text-align: right;
}

.right-side {
  background-color: #FFE1Ae;
  border: 3px solid black;
  border-radius: 30px;
  height: 350px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#todo-form {
  /* background-color: #FFE1A0;
  border: 3px solid black;
  border-radius: 30px; */
  width: 94%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid green; */
}

#todo-form input {
  border: 3px solid black;
  border-radius: 30px;
  padding: 15px;
  width: 70%;
  font-size: 16px;
  outline: none;
  margin-top: 20px;
}

.right-side ul {
  width: 70%;
  height: 280px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  overflow-y: auto;
}

.right-side ul::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
}

.right-side ul::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #304F6D; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

.right-side ul::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.right-side li {
  margin-bottom: 8px;
  width: 80%;
  /* border: 2px solid purple; */
  list-style: none;
}

.right-side button {
  border: none;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 20px;
}